<div class="alert alert-info" ng-if="$ctrl.invalidLogin">Incorrect username/Password</div>
<div class="alert alert-info" ng-if="$ctrl.ToomanyRequests">Exceeded no of login attempts.Please try after 5 mins</div>

<div class="jumbotron">
<form class="form-group" id="loginform" name="loginfrm" ng-model="$ctrl.loginfrm">
<label id="user">Username:</label>
<input type="text" id="user" class="form-control" required ng-model="$ctrl.username" pattern="[a-zA-Z]*" name="username"/>
<label id="pass">Password:</label>
<input type="password" id="pass" class="form-control" required ng-model="$ctrl.password" minlength="4" maxlength="7" name="password"/>
<br>
<div>
<span class="alert alert-warning" ng-if="loginfrm.username.$error.required||loginfrm.password.$error.required">Username and Password is mandatory</span>
<span class="alert alert-warning" ng-if="loginfrm.username.$error.pattern">Username can contain only alphabets</span>
<span class="alert alert-warning" ng-if="loginfrm.password.$error.minlength ||loginfrm.password.$error.maxlength">Password can contain 4-7 characters</span>
</div>
<br>
<button class="btn btn-success" ng-disabled="loginfrm.$invalid" ng-click="$ctrl.loggingIn($ctrl.username,$ctrl.password)">Login</button>
</form>
</div>
